<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= data.title %>
    </title>
</head>

<body>
    <h1>
        <%= data.title %>
    </h1>
    <h3>Location -<%= data.location %>
    </h3>
    <a href="/campgrounds/<%= data._id %>/edit">Edit the details</a>
    <a href="/campgrounds">Campgrounds Index</a>
    <form id="f" action="/campgrounds/<%= data._id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
    <!-- <script>
        const fo = document.querySelector('#f');
        fo.addEventListener('submit', () => {
            event.preventDefault(); // Prevent the default form submission
            console.log(fo.action);
        })
    </script> -->
</body>

</html>