<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= data.title %>
    </title>
</head>

<body>
    <h1>Edit the details of a new camp</h1>
    <form action="/campgrounds/<%= data._id %>?_method=PUT" method="POST">
        <label for="title">Enter Title: </label>
        <input type="text" name="title" id="title" placeholder="Enter Title" value="<%= data.title %>">
        <br>
        <br>
        <label for="location">Enter Location: </label>
        <!-- <p><%= data.location %></p> -->
        <input type="text" name="location" id="location" placeholder="Enter Location" value="<%=data.location%>">
        <br>
        <button type="submit">submit</button>
        <a href="/campgrounds">Campgrounds Index</a>
    </form>
</body>

</html>